body{
    background: white;
    color:rgb(133, 132, 132);
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin:0;
    padding:0;
    text-align: center;
}
div {
    text-align: center;
}
ul{
    display: inline-block;
    text-align: left;
}
/*HEADER*/
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: rgb(120, 77, 157);
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(182, 181, 181);
    color: white;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: gray;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  .pic {
    border-radius: 50%;
    height: 20%;
    width: 20%;
  }
  .headers{
      color: rgba(70, 70, 70, 0.653);
  }